h1{
  color:ghostwhite;
  font-family: monospace;
  font-size:32px
}

p{
  color:ghostwhite;
  font-family:monospace;
  text-align:left;
}

.solver{
  background-image: url("https://img.search.brave.com/ukjPmTBEIDmgm6NCAJG8Gt8X2T_ugfem0o_wwa4t_1M/rs:fit:852:480:1/g:ce/aHR0cDovL2FrNi5w/aWNkbi5uZXQvc2h1/dHRlcnN0b2NrL3Zp/ZGVvcy80NDE0Mzc5/L3RodW1iLzEuanBn/P2kxMGM9aW1nLnJl/c2l6ZShoZWlnaHQ6/MTYwKQ");
  background-size: cover;
  opacity: 1;
	margin: 1px;
}

body{
  height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
  background-color:#3b3b3b
}

nav ul {
    background-color: rgb(0,100,200);
    border-style: solid;
    border-color: black;
    text-align:left;
    opacity:0.8;
    border-width: 2px;
    padding: 10px;
    border-radius: 10px;
    font-family: monospace;
  }


#container {
	width: 80%;
	margin: auto;
	padding: 2%;
}

@media screen and (max-width: 768px) {
	#container {
		width: 90%;	
	}
}