h1{
   color:rgb(100,200,200);
  font-family: sans-serif;
  font-size:32px
}
.solver{
  background-image: url("https://img.search.brave.com/ukjPmTBEIDmgm6NCAJG8Gt8X2T_ugfem0o_wwa4t_1M/rs:fit:852:480:1/g:ce/aHR0cDovL2FrNi5w/aWNkbi5uZXQvc2h1/dHRlcnN0b2NrL3Zp/ZGVvcy80NDE0Mzc5/L3RodW1iLzEuanBn/P2kxMGM9aW1nLnJl/c2l6ZShoZWlnaHQ6/MTYwKQ");
  background-size: cover;
  opacity: 1;
  padding: 100px 0;
	margin: 1px;
}

body{
  height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
  background-color:#3b3b3b
}

nav ul {
    background-color: rgb(0,100,200);
    border-style: solid;
    border-color: black;
    text-align:left;
    opacity:0.8;
    border-width: 2px;
    padding: 10px;
    border-radius: 10px;
  }
